.welcome_header {
  height: 10vh;
}

ion-item ion-label h1 {
  font-size: 3vw;
  text-align: center;
  font-weight: bold;

}

ion-datetime {
  // display: flex;
  // text-align: center;
  // justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.mar_top_card {
  margin-top: 20px;
}

ion-grid.tabla_list {
  border: 1px solid #FFFFFF;
  text-align: center;
  border-collapse: collapse;
}

ion-row.thead {
  background: #175387;
}

ion-grid ion-row ion-col ion-label.LblColor {
  color: #FFFFFF;
}

ion-col {
  border: 1px solid #000000;
  font-size: 80%;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

ion-grid ion-row ion-col ion-label {
  color: #000000;
}

.lista_delete {
  display: contents;
}

.err {
  color: red;
}

::ng-deep .mycomponent-wider-popover {
  --width: 80%;
  --max-width: 90%;
}

ion-select {
  width: 70%;
}


.btn-Form-end {

  margin-top: 10px;
  display: flex;
  margin-left: 33%;
  margin-right: 33%;

}