ion-title{
    align-items: center;
}

ion-toolbar {
    color:rgb(188, 188, 188);
}

.btn{
    display: flex;
    justify-content: center;
}
// img{
//     border-radius: 50%;
//     width: 50%;
// }