.welcome_header {
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
}

::ng-deep .mycomponent-wider-popover {
    --width: 90%;
    --max-width: 90%;
}

ion-list ion-item {
    padding-top: 15px;
}