<ion-app>
  <ion-header>
    <ion-toolbar *ngIf="mostrarBoton">
      <div class="header-content">
        <div class="title-container">
          <ion-title>{{headerText}}</ion-title>
        </div>
        <div class="button-container">
          <ion-button (click)="logout()" fill="clear">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>