/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-toolbar {
    --color: #ffffff;
    --background: #175489;
}

ion-content{
    // background-image: url('assets/IMG/background.svg') 0 0/100% 100% no-repeat;
    --background: url('assets/IMG/background.svg') 0 0/100% 100% no-repeat;
}

@media screen and (min-width: 360px) {
    ion-content{
    --background: url('assets/IMG/backgroundmovil1.svg') 0 0/100% 100% no-repeat;
    }

}
@media screen and (min-width: 768px) {
    ion-content{
    --background: url('assets/IMG/backgroundtablet.svg') 0 0/100% 100% no-repeat;
    }

}
@media screen and (min-width: 1366px) {
    ion-content{
    --background: url('assets/IMG/backgroundpc.svg') 0 0/100% 100% no-repeat;
    }

}
@media screen and (min-width: 1920px) {
    ion-content{
    --background: url('assets/IMG/backgroundpclarge.svg') 0 0/100% 100% no-repeat;
    }

}
 

