<ion-header>
  <ion-toolbar>
    <ion-title class="centrar">Menu de aplicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>
      <h1 class="welcome_header">Bienvenido {{localname}}</h1>
    </ion-label>
  </ion-item>



  <ion-card>
    <ion-card-header>
      <ion-card-title class="text_card">Servicio de solicitud de permisos </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-label class="text_card">Crear</ion-label>

              <ion-button class="btn_card1" fill="clear"  (click)="crearSolicitud()">
                <img src="assets\icon\icon-crear.svg" alt="PEDIDO DE COMIDA">
              </ion-button>

          </ion-col>
          <ion-col>
            <ion-label class="text_card">Inactivar</ion-label>

              
            <ion-button class="btn_card1" fill="clear" (click)="inactivar()">
              <img src="assets\icon\icon-inactivar.svg" alt="PEDIDO DE COMIDA">
            </ion-button>

          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text_card">Servicio de restaurante</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-button class="btn_card1" fill="clear"  (click)="Pedir()">
        <img src="assets\icon\icon-restaurante.svg" alt="PEDIDO DE COMIDA">
      </ion-button>


    </ion-card-content>
  </ion-card>

</ion-content>